.name{
    background-color: orchid;
}
.prof{
    background-color: beige;
} 

.name-selected{
    background-color: maroon;
    color: beige;
}

.prof-selected{
    background-color: khaki;
    color: maroon;
}

.error{
    background-color: red;
    color: white;
}